<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="card">
              <div class="head-title">
                <h3 class="gag-title"><%= gag["title"] %></h3>
              </div>
              <div class="content-img">
                <a href="/gags/<%= gag['_id'] %>">
                  <img src="<%= gag['image'] %>">
                </a>
              </div>
              <div class="meta">
                <div class="meta-info">
                  <p class="left-floated"><%= gag["views"] %> Views</p>
                  -
                  <p class="left-floated"><%= gag["commentsNumber"] %> Comments</p>
                </div>
              </div>
              <div class="cta">
                <div class="left-floated">
                    <div class="upvote btn btn-default">
                      <span class="glyphicon glyphicon-arrow-up">
                    </div>
                    <div class="upvote btn btn-default">
                      <span class="glyphicon glyphicon-arrow-down">
                    </div>
                    <div class="upvote btn btn-default">
                      <span class="glyphicon glyphicon-option-horizontal">
                    </div>
                </div>
                <div class="right-floated">
                    <a href="#" title="Facebook" class="btn btn-facebook">
                      <i class="fa fa-facebook fa-fw"></i> Facebook
                    </a>
                </div>
              </div>
        </div>

        <div class="comments">
            <div class="comment-box">
                <div class="payload">
                <div class="comment-user-container">
                <% if(!currentUser) { %>
                    <img src="/default_avatar.png" alt="" class="user_avatar">
                <% } else { %>
                    <img src="<%= currentUser.avatar %>" alt="" class="user_avatar">
                <% } %>
                </div>
                <div class="comment-input-area">
                     <textarea name="new-comment" rows="5" class="comment-input"></textarea>
                </div>
                </div>
            </div>
            <div class="text-right">
                <a class="btn btn-success"href="/gags/<%= gag._id %>/comments/new">Add comment</a>
            </div>
            
            <% gag.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <p><%= comment.text %></p>
                         
                    </div>
                </div>
            <% }) %>
        </div>
        
      
    </div>
    
</div>










<% include ../partials/footer %>